################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2018-3-Progra-4-master/2018-3-Progra-4-master/PrograIV.Calculadora
